<h2 id="overview">概要</h2>
<p>
全国学力調査LODは、「全国学力・学習状況調査」の問題および解説等を整理した Linked Open Data（LOD）データセットです。
</p>
<p>
全国学力調査・学習状況調査は、小学校第6学年および中学校第3学年の児童生徒が原則として全員受検する全国調査であり、平成26 (2014) 年度以降、悉皆方式で実施されています。
教科は、国語・算数（数学）が毎年度、理科は3年に一度実施され、平成31 (2019) 年度（令和元年度）からは英語が加わり、英語も概ね3年に一度実施されています。
調査は文部科学省が市町村教育委員会や学校法人等の協力のもと実施し、国立教育政策研究所が問題・解説資料の作成、調査結果の分析、報告書や授業アイディア例の作成を担っています。
</p>
<p>
本データセットは、国立教育政策研究所が<a href="https://www.nier.go.jp/kaihatsu/zenkokugakuryoku.html">教育課程研究センター「全国学力・学習状況調査」</a>において公開している、調査問題・正答例・解説資料、報告書・調査結果資料、授業アイディア例の基本情報（メタデータ）を加工し、整理したものです。
データセット作成にあたっては、同センターが構築されたまとまったメタデータをご提供いただきました。
ここに記して深謝いたします。
</p>
<p>
また、上記の元ページは、<a href="https://www.mext.go.jp/b_menu/1351168.htm">文部科学省ウェブサイト利用規約</a>に従うオープンデータ（クリエイティブコモンズ・ライセンス表示4.0; CC BY相当）として扱い、本データセットも同ライセンスとしますので、本データセットは自由に利活用できます。
</p>
<p>
本データセットは、現行指導要領（平成29・30・31年 (2017・18・19) 改訂）下で実施された、令和3年度（2021年度）以降の調査情報をすべて整理して提供します。
</p>
